<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}{% endblock %} — MyChat</title>

  <!-- Подключаем общий CSS из static -->
  <link rel="stylesheet" href="{{ request.url_for('static', path='css/chat.css') }}">
  {% block head %}{% endblock %}
</head>
<body>
  {% block body %}{% endblock %}

  <!-- Скрипт внизу страницы -->
  <script type="module" src="{{ request.url_for('static', path='js/chat_main.js') }}"></script>

  {% block scripts %}{% endblock %}
</body>
</html>
